body {
 margin: 0 auto;
 width: auto;
 height: auto;
}
.mainAbout {
 font-size: 25px;
 padding: 50px;
 border: 5px solid darkseagreen;
 border-color: darkseagreen;
 width: 700px;
 height: 870px;
 margin-right: auto;
 margin-left: auto;   
}
h1  {
 font-size: 40px;
 font-family: Calibri;
 color: indigo;
}
p{
 margin-top: 30px;
 font-family: Calibri;
}