body {
 margin: 0 auto;
 width: auto;
 height: auto;
}

h1 {
 margin-top: 40px;
 font-size: 40px;
 font-family: Calibri;
 color: indigo;
}
#intro {
 font-size: 25px;
 font-family: Calibri;
 padding: 50px;
 border: 5px solid darkseagreen;
 border-color: darkseagreen;
 width: 700px;
 height: 120px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 22px;
}
ul {
 font-size: 22px;
 padding: 80px;
 width: 1000px;
 margin-right:auto;
 margin-left:auto;
 text-align:right;
}

#coin, #pin, #flower, #leng,#city{
 font-family: Calibri;
 font-size: 25px;
 align-items: center;
 list-style:none; 
}

#pin img{
 float:right;
 margin:-40px;
 margin-right:20px;
 padding-left:50px;
}

#flower img{
 float:right;
 margin:20px;
 margin-right:40px;
 margin-top:-40px;
 padding-left:10px
}

#leng img{
 float:right;
 margin:15px;
 margin-top:-2px;
 margin-right:5px;
}
#coin img{
 float:right;
 margin-top:-40px;
 margin-right:50px;
 padding-left:50px;
}
#city img{
 float:right;
 margin-top:-40px;
 margin-right:40px;
 padding-left:30px;
}